<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619708682807-6l387j1g18l43meon90s3q2eif50nb1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619708682807-6l387j1g18l43meon90s3q2eif50nb1a</string>
	<key>API_KEY</key>
	<string>AIzaSyCetYiKxwajP6voB-M9Gy3szvtGyJ-QdIU</string>
	<key>GCM_SENDER_ID</key>
	<string>619708682807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TeamBB.BookBillionaireUser</string>
	<key>PROJECT_ID</key>
	<string>bookbillionaire-dace5</string>
	<key>STORAGE_BUCKET</key>
	<string>bookbillionaire-dace5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619708682807:ios:414461a76e66c534b725b2</string>
</dict>
</plist>